.wBox{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wIcon{
    color: rgb(111, 8, 155);
    font-size: 500%;
}
.wTitle{
    color: rgb(111, 8, 155);
    font-size: 500%;
}