.Footer{
    width: 100%;
    height: 40vh;
    background: var(--EBgC);
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: normal;
    color: var(--mfontColor);
    letter-spacing: 5px;
}